.header {
  max-width: 720px;
  margin: 0 auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item {
  margin-right: 24px;
}

.list-item:last-child {
  margin-right: 0;
}

.link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.15;
  color: #708090;
  text-decoration: none;
}

.activeLink {
  color: #7b68ee;
}

.link:hover {
  opacity: 0.8;
}

.logo {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 1.15;
  color: #6d7280;
  transition: opacity 0.3s ease-in-out;
  text-decoration: none;
}

.logo:hover {
  opacity: 0.8;
}

.image {
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-image: url(../../images/expenses.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
